body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBDBDB;
}

nav{
    background-color: #706D54;
    text-align: center;
}

.menuBar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menuBar li{
    position: central;
}

.menuBar li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menuBar li a:hover{
    background-color: #A08963;

}

.Submenu{
    display: none;
    position: absolute;
    background-color: green;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuBar li:hover .Submenu {
    display: block;
}

.Submenu li a{
    padding: 10px 15px;
}

.Submenu li a:hover{
    background-color: darkolivegreen;
}

Section h1{
    text-align: center;
}

section img{
    image-orientation: center;
}



/*Color Hunt(site para paleta de cores)